.chat {
    position: relative;
    z-index: 100;
    width: calc(100vw - 2rem);
    max-width: 1600px;
    min-width: 0;
    height: calc(100vh - 2rem);
    background-color: #f0f2f5;
    display: grid;
    grid-template-columns: minmax(300px, 25%) min(75%, calc(100% - 300px));
    grid-template-rows: 3rem 1fr;
    @media screen and (max-width: 1280px) {
        width: 100vw;
        height: 100vh;
    }
}