.chatManagerList {
    background-color: #ffffff;
}

.chatManagerList__phone {
    height: 20px;
}

.chatManagerList__form {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chatManagerList__submit {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
    background-image: url("@assets/plus.svg");
    &:hover {
        cursor: pointer;
    }
}

.chatManagerList__elem {
    background-color: #ffffff;
    border-top: 1px solid #e9edef;
    border-bottom: 1px solid #e9edef;
    width: 100%;
    height: 50px;
    font-size: 17px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    &:hover {
        cursor: pointer;
    }
}