.submitMessage {
  background-color: #f0f2f5;
  width: 100%;
  height: 3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr max-content;
  font-size: 1rem;
  padding: 0.5rem;
  grid-column-gap: 0.5rem;
}

.submitMessage__input {
  background-color: #ffffff;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: inherit;
}

.submitMessage__buttonSubmit {
  background-color: #efeae2;
  width: fit-content;
  height: 100%;
  padding: 0.2rem 0.6rem;
  font-size: 0.9rem;
  &:hover{
    cursor: pointer;
  }
}