.blockMessages {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blockMessages__messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.blockMessages__message {
  width: fit-content;
  max-width: 55%;
  height: fit-content;
  min-height: 1rem;
  padding: 0.6rem;
  margin: 0.4rem;
  background: white;
  flex-shrink: 0;
  word-wrap: break-word;
  align-self: start;
  font-size: 1.2rem;
}

.blockMessages__message_user {
  background: #d9fdd3;
  align-self: end;
}