.selectedChat {
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;
}

.selectedChat__title {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
}